<div class="side-panel">
  <h2>{{ site.author.name }}</h2>
  <p class="bio">{{ site.author.bio }}</p> <!-- Add a class for bio styling -->
  
  <!-- Icons for LinkedIn and GitHub -->
  <div class="social-links">
    <a href="https://www.linkedin.com/in/haig-bishop-34536a226/" target="_blank">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/HaigBishop/" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>

  <!-- Wrap the image in a div for better control -->
  <div class="portrait-container">
    <img src="{{ site.author.portrait }}" alt="haig" class="portrait-image">
  </div>
</div>
