<div class="side-panel">
  <h2>{{ site.author.name }}</h2>
  <p class="bio">{{ site.author.bio }}</p>
  
  <!-- Icons for LinkedIn, GitHub -->
  <div class="social-links">
    <a href="https://www.linkedin.com/in/haig-bishop-34536a226/" target="_blank">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/HaigBishop/" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>

  <!-- Email address -->
  <p class="email">
    <a href="mailto:haig.bishop@pg.canterbury.ac.nz">haig.bishop@pg.canterbury.ac.nz</a>
  </p>

  <div class="portrait-container">
    <img src="{{ site.author.portrait }}" alt="haig" class="portrait-image">
  </div>
</div>
