/* Custom SASS styles */

/* Adjust sidebar width */
@media (min-width: 768px) {
  .sidebar {
    width: 30% !important;
  }
  .main {
    width: 70% !important;
  }
}

/* Padding for portrait image */
.author__avatar {
  padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .sidebar {
    width: 100% !important;
  }
  .main {
    width: 100% !important;
  }
}
